<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />
    <application
        tools:replace="android:supportsRtl,android:allowBackup"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:name=".ui.MyApplication"
        android:theme="@style/AppTheme" >
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity android:name="com.android.demo.ui.RegisterActivity" />
        <activity android:name="com.android.demo.ui.LoginActivity" />
        <activity android:name="com.android.demo.ui.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.microblink.activity.DocumentVerificationActivity"
            />
        <activity android:name="com.aimbrain.sdk.faceCapture.PhotoFaceCaptureActivity"/>
        <activity android:name="com.aimbrain.sdk.faceCapture.VideoFaceCaptureActivity"/>
        <activity android:name="com.aimbrain.sdk.voiceCapture.VoiceCaptureActivity"/>
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".utils.help.HelpActivity"/>
        <activity android:name=".utils.result.ResultActivity"/>

    </application>
</manifest>
